

  <div class="container">
    <mat-toolbar>
      <mat-toolbar-row class="justify-content-between">
        <button mat-icon-button (click)="toggleSidebar()"><mat-icon>menu</mat-icon></button>
        <div class="row mr-2 ml-auto">
          <ul>
            <li>
              <button mat-button [matMenuTriggerFor]="menu" class="user mt-2 d-flex align-item-center">
                <img src="../../../../assets/user.png" alt="" class="user-image mr-1 p-2">
                {{firstName+" "+lastName}}
                <mat-icon>keyboard_arrow_down</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/login" (click)="logoutUser()">
                  <mat-icon>exit_to_app</mat-icon>
                  Logout
                </button>
              </mat-menu>
            </li>
          </ul>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    
    <mat-toolbar class="mat1"  color="primary">
        <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink="/menu">
          <mat-icon>menu</mat-icon>
        </button> -->
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <span>Bus Management</span>
        <span class="example-spacer"></span>
        <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button> -->

        <span class="example-spacer"></span>
       
      </mat-toolbar>

      <!-- <mat-toolbar  color="primary">
        <span><a mat-icon-button>Login</a></span>
        <span class="example-spacer"></span>
        <a mat-icon-button routerLink="/login">Login</a>
      </mat-toolbar> -->
</div>


