.container{
   width: 1200px;
   margin: auto;
   margin-top: 70px;
}

.headding{
   background-color: #a6d5fa73; 
   height:40px; 
   margin: -32px -16px 25px -16px;
   border-radius: 4px;
   padding: 0;
}

.dropFieldWidth{
   width: 340px;
   font-size: small;
}

.grid{
   margin-left: 218px;
}





