<p>sidebar works!</p>

<mat-nav-list>
    <div class="logo">
        <img src="../../../../assets/management_logo.png" alt="Company Logo"/>
    </div>
    <h2 matSubheader class="">BUS-MANAGEMENT</h2>

    <mat-divider></mat-divider>
    <!-- <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon>Home
    </a> -->
    <p-panelMenu class="panel mt-5" [model]="items" [style]="{'width':'200px'}"></p-panelMenu>
   
    <!-- <a mat-list-item> <mat-icon>edit</mat-icon>Link</a> -->
    <!-- <a mat-list-item> <mat-icon>edit</mat-icon>Link</a>
    <a mat-list-item> <mat-icon>edit</mat-icon>Link</a>
    <a mat-list-item> <mat-icon>edit</mat-icon>Link</a> -->
</mat-nav-list>

