<div class="container ">
    <p-card  class="card">
      <div class="content-section implementation">
          <!-- <img class="img-fluid" style="width: 100px;" src="" alt="" > -->
        </div>
        <h1 class="mt">Login here !!</h1>
       
        <form (ngSubmit)="onSubmit()">
          
         
                
                    <div class="example-container">
                        <mat-form-field appearance="fill">
                          <mat-label>Enter your username</mat-label>
                          <input name="username" class="inputfield" [(ngModel)]="credentials.username" matInput placeholder="pat@example.com" [formControl]="email" required>
                          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                        </mat-form-field>
                      </div>
                
                
                    <div class="example-container">
                        <mat-form-field appearance="fill">
                          <mat-label>Enter your password</mat-label>
                          <input name="password" [(ngModel)]="credentials.password" matInput [type]="hide ? 'password' : 'text'" >
                          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                          </button>
                        </mat-form-field>
                        </div>
            
            

             
              
                <button type="submit" mat-raised-button color="primary">Login</button>
               
              
            </form>
    
           
      </p-card>
    </div>
    