<div class="container">
   <p-card>
      <div class="headding">

         <h3 class="pt-1 ml-3">Passenger Info</h3>
      </div>

      <div class="ml-5" style="margin-bottom: -15px; ">


         <div class="grid">

            <div class="lable_width">
               <label for="">Route:</label>
            </div>
            <div>
               <label for="" style="width: 100px ;">{{busDetail.sourceCity+" To "+busDetail.destinationCity+" | "+travelingDate}}</label>
            </div>
         </div>

         <div class="grid mt-2">

            <div class="lable_width">
               <label for="">Boarding Stop:</label>
            </div>
            <div>
               <label for="" >{{busDetail.sourceCity+"  "+busDetail.departureTime}}</label>
            </div>
         </div>

         <div class="grid mt-2">

            <div class="lable_width">
               <label for="">Alighting Stop:</label>
            </div>
            <div>
               <label for="" >{{busDetail.destinationCity+"  "+busDetail.arrivalTime}}</label>
            </div>
         </div>


         <div class="grid mt-2">

            <div class="lable_width">
               <label for="">Fare Rs:</label>
            </div>
            <div>
               <!-- <label *ngIf="fareRs==0" for="" >{{busDetail.fareRs}}</label> 
               <label *ngIf="fareRs!=0" for="" >{{fareRs}}</label>   -->
               <label for="" >{{busDetail.fareRs * totalSeat}}</label>  
            </div>
         </div>





         <div class="mt-2 ">
            <!-- <label for="" style="width: 100px ;"><span style="color:red;">*</span>Total KM:</label> -->
            <mat-form-field class="dropFieldWidth " appearance="outline">
               <mat-label><span style="color:red;">*</span>Contact Detail</mat-label>
               <input name="totalKm" disabled="" [value]="userMobileNumber" matInput>
            </mat-form-field>
         </div>

      </div>


      <form [formGroup]="addmore" class="ml-2">

         <div class="mt-5" formArrayName="itemRows">

            <!-- <mat-progress-bar mode="indeterminate" ></mat-progress-bar> -->

            <table class="table table-bordered ml-5 " style="text-align: center;">
               <thead class="thead-light">
                  <mat-card>

                     <tr>
                        <th style="width: 100px;">SrNo:</th>
                        <th style="width: 260px;">First Name</th>
                        <th style="width: 260px;">Last Name</th>
                        <th style="width: 175px;">Age</th>
                        <th style="width: 260px;">Gender</th>
                       
                     </tr>
                  </mat-card>
               </thead>
               <tbody  *ngFor="let itemrows of formArr.controls; let i= index" [formGroupName]="i" >
                  <mat-card >

                     <tr style=" text-align:center;" >
                        <td style="width: 100px;">
                           {{i+1}}
                        </td>
                        <td class="" style="width: 260px;">
                           <mat-form-field style="width: 250px;" appearance="outline">
                              <mat-label>First Name</mat-label>
                              <input type="text" formControlName="firstName" matInput>
                              <div *ngIf="firstNameform">
                                 <mat-label *ngIf="passengerForm.get('firstName')?.hasError('required')"
                                    class="span_style">Name Required!</mat-label>
                              </div>

                           </mat-form-field>
                        </td>
                        <td class="" style="width: 260px;">
                           <mat-form-field style="width: 250px;" appearance="outline">
                              <mat-label>Last Name</mat-label>
                              <input type="text" formControlName="lastName" matInput>
                           </mat-form-field>
                           <!-- <div *ngIf="lastNameform">
                              <small *ngIf="passengerForm.get('lastName')?.hasError('required')" class="span_style">Name Required!</small>
                              </div> -->
                        </td>
                        <td class="" style="width: 175px;">

                           <mat-form-field style="width: 170px;" class="example-form-field" appearance="outline">
                              <mat-label>Age</mat-label>
                              <input formControlName="age" matInput type="number">
                           </mat-form-field>
                           <div *ngIf="ageform">
                              <small *ngIf="passengerForm.get('age')?.hasError('required')" class="span_style">Enter
                                 age!</small>
                           </div>
                           <!-- <div *ngIf="sequenceUnique" style="padding: 0px;">
                           <small class="span_style">Enter sequence unique number!</small>
                           </div> -->
                        </td>
                        <td class="" style="width: 260px;">
                           <mat-form-field style="width: 250px;" appearance="outline">
                              <mat-label>Gender</mat-label>
                              <mat-select formControlName="gender"
                                 (selectionChange)="genderSelector($any($event).value)" >
                                 <mat-option *ngFor="let g of genders" [value]="g.value">{{g.value}}</mat-option>
                              </mat-select>
                           </mat-form-field>
                           <div *ngIf="genderform">
                              <small *ngIf="passengerForm.get('gender')?.hasError('required')" class="span_style">Select
                                 gender</small>
                           </div>
                        </td>
                      
                     </tr>
                  </mat-card>
               </tbody>

               <tfoot >
                
               </tfoot>
            </table>


         </div>

      </form>

      <div class="mt-5" style="margin-left: 450px;">
         <!-- <button type="submit" mat-raised-button color="primary" (click)="submit()">Next</button> -->
         <button type="submit" mat-raised-button color="primary" routerLink="/home/passengerConfirmation" (click)="submit()">Next</button>
         <button type="reset" class="ml-4" mat-raised-button color="warn"
            routerLink="/home/busBookingDetail">Cancle</button>
      </div>

   </p-card>


</div>

