
<app-user-nav-bar></app-user-nav-bar>

<div class="border"></div>
<div class="container">

   <div class="sourceClass grid">
      <div class="inputField grid" appearance="outline">
        
         <div>
            <img style="width: 30px; margin-left: 9px;" src="../../../../assets/user/source.png" alt="">
         </div>
            <div>
               <input  style="height: 100%; font-size: 17px; border:0ch" type="text"  placeholder="Form" >
            </div>

           
         
      </div>
      <div class="inputField grid" appearance="outline">
        
        
         <div>

            <img style="width: 30px; margin-left: 9px;" src="../../../../assets/user/source.png" alt="">
         </div>
         <div>

            <input  style="height: 100%; font-size: 17px; border:0ch" type="text"  placeholder="To" matInput>
         </div>

          
         
      </div>

    
          <button style="background: d84f57; color: white; height: 54px;" mat-button>Search Buses</button>

   </div>
</div>

<!-- <mat-form-field class="matFormField" appearance="outline">
   <mat-label>To</mat-label>
   <input style="height: 10px;" matInput>
</mat-form-field>

 <mat-form-field class="example-full-width matFormField" appearance="outline">
   <mat-label>Choose a date</mat-label>
   <input name="travelingDate"  matInput [matDatepicker]="picker">
   
   <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
   <mat-datepicker [dateClass]="dateClass" #picker></mat-datepicker>
 </mat-form-field> -->
