

<!-- <mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">
  
            <sidebar></sidebar>
  </mat-drawer>
  <mat-drawer-container>
    <navbar (toggleSidebarForMe)="sideBarToggler()"></navbar>
    <router-outlet></router-outlet>
    
  </mat-drawer-container>
</mat-drawer-container>  -->

<mat-sidenav-container class="example-container" >
  <mat-sidenav mode="side" [opened]="sideBarOpen">
    <app-sidebar1></app-sidebar1>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-navbar1 (toggleSidebarForMe)="sideBarToggler()"></app-navbar1>
   <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>